streamlit>=1.32,<2
pandas>=2.1,<3
numpy>=1.25,<2
matplotlib>=3.8,<4

# Excel I/O
openpyxl>=3.1.2        # .xlsx read/write
xlrd>=2.0.1            # .xls read
XlsxWriter>=3.1.1      # optional writer

# ROP (Negative Binomial). If you can’t install SciPy, the app falls back to NumPy simulation.
scipy>=1.11,<2
